.mainInterface {
    font-size: 100px;
    padding-top: 150px;
}

#timer {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

#startBtn {
    margin-right: 50px;
    font-size: 65px;
    border-radius: 100px;
    padding: 20px 20px 20px 20px;
    border-color: white;
    background-color: cyan;
}

#resetBtn {
    margin-left: 50px;
    font-size: 65px;
    border-radius: 100px;
    padding: 20px 20px 20px 20px;
    border-color: white;
    background-color: cyan;
}

#customiseBtn {
    margin-left: 100px;
    font-size: 65px;
    border-radius: 100px;
    padding: 20px 20px 20px 20px;
    border-color: white;
    background-color: cyan;
}